/* -----------------------
Global Styles 
---------------------------*/
a {
    text-decoration: none;
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #BAD6E1;
    --secondary-color: #FFEDEF;
    --background-dark-color : #130F49;
    --text-color-100 : #B4B2C5;
}
.btn {
    padding: 10px 20px;
    font-size: 25px;
    background-color: #fff;
    cursor: pointer;
}
.section {
    min-height: 100vh;
}
.display-toggle {
    display: block !important;
}
/* ---------------------
Header
-------------------------- */
.main-container {
    max-width: 1440;
    margin: auto;
}
.header{
    padding: 5px 20px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
}
.header > img{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    height: 500;
    width: 475;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-items-container {
    display: flex;
    align-items: center;
}
.nav-items {
    display: flex;
    z-index:200;
}

.logo {
    width: 60px;
    height: 60px;
    line-height: 60px;
}
.logo img {
    width: 100%;
    height: 100%;
}
.nav-item {
    font-size: 20px;
    padding: 5px 20px;
    margin-right: 10px;
    color: #000000;
    font-family: Rubik;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.nav-item:hover {
    color: var(--primary-color);
}
.nav-items > ul > li:last-child{
    margin-right: 0px !important;
}
.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    z-index: 11;
}
li.social-icon {
    padding: 15px;
    cursor: pointer;
    transition: all 0.5s ease;
}
li.social-icon:hover {
    transform: translateY(-5px);
}

/* ----------------------------
Header Content
------------------------ */

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    min-height: 100vh;
}
.left-content {
    flex: 1;
    padding-left: 10px;
}
.right-content {
    z-index: 100;
    flex: 1;
}
.header-img-box img{
    width: 100%;
    height: 100%;
}
.bg-dots-box {
    position: absolute;
    top: 170px;
    right: 33%;
    animation: moveLeftRight 5s linear infinite;
}
@keyframes moveLeftRight {
    0%, 100% {
        top: 170px;
        right: 33%;
    }
    50% {
        top: 170px;
        right: 36%;
    }
}
.bg-dots-box img {
    width:135px;
    height: 61px;
}

.left-content h3 {
    display: inline;
    font-weight: 300;
    font-size: 24px;
    color: #000000;
    text-transform: uppercase;
}
.left-content span.header-line{
    display: inline-block;
    margin-left: 10px;
    width: 200px;
    border: 1px solid black;
    background-color: black;
}
.header-top-line {
    display: flex;
    align-items: center;
}

.left-content h1 {
    font-weight: 500;
    font-size: 40px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.left-content h2 {
    font-weight: normal;
    font-size: 28px;
    color: #000000;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
}
.header-buttons {
    margin-top: 80px;
}
.btn-primary {
    cursor: pointer;
    padding: 13px 35px;
    background-color: var(--background-dark-color);
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}
.btn-primary a {
    color: #fff;
}
.btn-primary:hover {
    transform: translateY(-5px);
}
.btn-secondary {
    border: 2px solid var(--background-dark-color);
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}
.btn-secondary a {
    color: var(--background-dark-color);
}
.btn-secondary:hover{
    padding: 11px 15px;
    background-color: var(--background-dark-color);
}
.btn-secondary:hover > a {
    color: #fff;
}
.hire-me-btn {
    margin-right: 20px;
}
.bulb {
    transition: all 0.3s ease;
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    0%, 100% {
        transform: rotate(40deg);
    }
    50% {
        transform: rotate(-40deg);
    }
}
.about-container {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin-top: 50px;
}
.left-section {
    /* background-color: blue; */
    flex: 1;
}
.left-section img {
    width: 100%;
    height: 100%;
}
.right-section {
    flex: 1;
    height: 100%;
    padding: 20px 30px;
    margin-top: 20px;
    /* background-color: red; */
}
.right-section h5 {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 27px;
    color: rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
}

.right-section h2 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 38px;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: -25px;
}

.right-section p {
    font-family: Roboto;
    font-weight: 100;
    font-size: 17px;;
    color: rgba(0, 0, 0, 0.8);
    text-transform: capitalize;
}
.download-btn {
    margin-top: 40px;
}
.heading-container {
    display: flex;
    align-items: center;
}
.skill-section {
    position: relative;
    min-height: 100vh;
}
.skill-section-title {
    padding-left: 10px;
}
.skill-section-title h1 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    color: rgba(180, 178, 197, 0.9);
    margin-bottom: 5px;
}
.skill-section-title h5 {
    font-family: Rubik, sans-serif;
    font-weight: normal;
    font-size: 35px;
    color: #05364D;
    margin-top: 0;
    margin-bottom: 25px;
}
.skills {
    display: flex;
    justify-content: space-between;
}
.skill {
    flex: 1;
    /* background-color: red; */
}
.skill-container {
    /* background-color: blue; */
    padding: 20px 50px;
}
.skill-header {
    /* background-color: red; */
    /* padding: 10px; */
    display: flex;
    align-items: center;
}
.skill-icon {
    padding: 15px;
}
.skill-title {
    width: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    cursor: pointer;
}
.skill-main-title span {
    font-family: Rubik, sans-serif;
    font-size: 38px;
    line-height: 45px;  
    color: #000000;
}
.skill-sub-title span {
    font-family: Rubik;
    font-weight: 300;
    font-size: 18px;
    color: #868594;
}
.skill-body {
    /* background-color: blue; */
    display: none;
    position: relative;
    max-width: 538px;
    margin: auto;
    /* margin-left: 82px; */
    padding: 20px 10px;
    transition: all 0.5s ease-in;
}
.backend-skill-img {
    position: absolute;
    top: 5%;
    left: 25%;
    /* transform: translateX(-50%) translateY(-50%); */
    z-index: -100;
}
.skill-items {
    /* background-color: black; */
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.skill-item {
    padding: 10px 30px;
    margin-top: 20px;;
    font-family: Rubik, sans-serif;
    font-size: 20px;
    background: #FFFFFF;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.15);
    border-radius: 40px;
}
.frontend-skill-img {
    position: absolute;
    top: 5%;
    left: 25%;
    /* transform: translateX(-50%) translateY(-50%); */
    z-index: -100;
}
.skill-bg {
    position: absolute;
    bottom: 0;
    left: -15%;
}
.portfolio-section-title h1 {
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    color: rgba(180, 178, 197, 0.9);
    margin-bottom: 5px;
}
.portfolio-section-title h5 {
    font-family: Rubik, sans-serif;
    font-weight: normal;
    font-size: 35px;
    color: #05364D;
    margin-top: 0;
    margin-bottom: 25px;
}
.portfolio-filter {
    display: flex;
    max-width: 500px;
    justify-content: space-between;
    margin-top: 65px;
}
.portfolio-filter div {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.portfolio-filter div.active {
    color: #7CB0C5;
}
.portfolio-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.portfolio-body .project {
    max-width: 430px;
    padding: 15px;
    border-radius: 15px;
    background: #FFFFFF;
    box-shadow: 0px 15px 45px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
    margin-bottom: 30px;
}
.project-img-box {
    border-radius: 10px;
    width: 410px;
    height: 400px;
}
.project-img-box img {
    height: 100%;
    width: 100%;
}
.portfolio-body {
    margin-top: 85px;
}
.project-details {
    margin-top: 24px;
}
.project-details .main-heading {
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 28px;
    color: #3F3939;
}
.project-details  .sub-heading {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: rgba(63, 57, 57, 0.74);
    margin-top: 15px;
}
